
html {
  font-size: 1.5rem;
  /* 16 * 0.0625 = 1px */
  letter-spacing: -0.01em;
  font-weight: 600;
}

.intro-header {
	background-color: #000;
  margin-bottom: 50px;
  text-align: center;
}

.site-heading {
  color: white;
  /* font-size: 5em !important; */
}

.title {
  line-height:0.9em;
  font-size: 5em;
  /* font:80px; */
  font-weight: 700;
}

h1 {
  letter-spacing:-0.02em;
  font-weight: 700 !important;
}

hr {
  margin: 0;
  padding: 0;
}
